<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nothing here</title>
</head>
<body>
<h1>Oops! It seems there's nothing here.</h1>
<p>Have you entered the correct address?</p>
<a href={{ path('home') }}>Back to home page</a>
</body>
</html>
