<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>We're sorry</title>
</head>
<body>
<h1>Uh-oh! It seems something went wrong on our end.</h1>
<p>We'll make sure this issue will be fixed as soon as possible. We apologize for any inconvenience.</p>
<a href={{ path('home') }}>Back to home page</a>
</body>
</html>
