<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Not Authorized</title>
</head>
<body>
<h1>Oops! It seems you are not authorized to visit this page.</h1>
<p>If this keeps happening, even though you know it shouldn't, please contact your system administrator.</p>
<a href={{ path('home') }}>Back to home page</a>
</body>
</html>
